<html>
<head>
<title>Team Roster</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<div class="jumbotron">
<h1> {{team.name}}</h1>
<h2> Coach: {{team.coach}}</h2>
<h2> Location: {{team.location}}</h1>
</div>
<div class="container">

<table class="table table-hover">
            <thead>
              <th>First Name</a></th>
              <th>Last Name</a></th>
              <th>Country</a></th>
              <th>Age</a></th>
         
            </thead>
            <tbody>
              {{#each fighter}}
              <!--helper function getPeople() in people.js refer to this -->
              <tr>
                <td>{{fname}}</td>
                <td>{{lname}}</td>
                <td>{{country}}</td>
                <td>{{age}}</td>
                <td><button class="btn btn-danger" onclick="deleteTeammate({{id}})">Delete teammember</button></td>
                {{!--
                <td>{{team}}</td>--}}
                <!--calls on javascript function to delete a person by id -->
                {{!--<td><button class="btn btn-danger" onclick="deletePerson({{id}})">Delete</button></td>--}}
                
              </tr>
              {{/each}}
            </tbody>
          </table>
          <a href="/people/">Go Back</a>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>