<html>
<head>
<title>Update Champion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

<h1>Update {{champion.name}}:</h1>
<form id="update-champion" action="/people/champion" method="post">
<div class="form-group">
    Champion Name: <input type="text" class="form-control" name="name" value="{{champion.name}}"><br>
   
    WeightClass: <input type="text"  class="form-control" name="weightclass" value="{{champion.weightclass}}"><br>
    
        Promotion: <select name="organization" class="form-control" id="promotion-selector"> 
        {{#each promotion}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
       
    Belt Holder: <select name="holder" class="form-control" id="holder-selector"> 
        {{#each fighters}}
        <option value="{{id}}">{{fname}} {{lname}}</option>
        {{/each}}
    </select><br>
</div>
</form>
<button class="btn btn-primary" onclick="updateChampion({{champion.id}})">Update</button>
<script defer>selectBeltHolder({{holder}});</script>
<script defer>selectPromotion({{organization}});</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
